@charset "utf-8";

.serie .frame ul li.watched
{
	background-color: var(--color-green) !important;
}

.serie .frame ul li.active
{
	background-color: var(--color-blue) !important;
}

.serie .frame ul li a:hover
{
	background-color: var(--color-orange) !important;
}

.serie .hoster-tabs.top
{
	margin-top: 0;
}

#sp_left [data-control-type='ACTION']
{
	margin-left: -15px;
	margin-top:  11px;
}

.serie [data-control-type='EPISODES_NAVIGATOR']
{
	text-align: right;
}

.serie [data-control-type='EPISODES_NAVIGATOR'].top
{
	margin-top: 10px;
}

.serie [data-control-type='EPISODES_NAVIGATOR'] ul
{
	display: inline-block;
}

.serie [data-control-type='EPISODES_NAVIGATOR'] ul li
{
	margin-left: 4px !important;
}

.serie [data-control-type='EPISODES_NAVIGATOR'] ul li[data-action-type='WATCH_STATE_TOGGLER']
{
	width: 34px !important;
}

.serie [data-control-type='EPISODES_NAVIGATOR'] ul li[data-action-type='EPISODE_NAVIGATOR']
{
	width: 100px !important;
}

.serie [data-control-type='EPISODES_NAVIGATOR'] ul li.disabled a:hover
{
	background-color: transparent !important;
	cursor:           default;
}
