@charset "utf-8";

[data-control-type='ACTION']
{
	box-sizing:       border-box;
	display:          block;
	position:         absolute;
	width:            13px;
	height:           13px;
	font-weight:      bold;
	color:            #ffffff;
	background-color: var(--color-cyan);
	border-style:     solid;
	border-width:     2px;
	border-color:     transparent;
	border-radius:    3px;
	cursor:           pointer;
}

[data-control-type='ACTION']:after
{
	display: block;
}

[data-control-type='ACTION']:hover
{
	background-color: var(--color-orange);
}

[data-control-type='ACTION'][data-action-type='DENIAL']:after
{
	margin-top: -3px;
	font-size:  8pt;
	content:    '-';
}

[data-control-type='ACTION'][data-action-type='INTEREST']:after
{
	margin-top: -1px;
	font-size:  7pt;
	content:    '?';
}

[data-control-type='ACTION'][data-action-type='FAVORITE']:after
{
	margin-top: -5px;
	font-size:  12pt;
	content:    '⋆';
}

[data-is-series='TRUE'][data-is-denial='TRUE'] [data-control-type='ACTION'][data-action-type='DENIAL']:after
{
	margin-top: -2px;
	content:    '+';
}

[data-is-series='TRUE'][data-is-interest='TRUE'] [data-control-type='ACTION']
{
	border-right-color:  var(--color-orange);
	border-bottom-color: var(--color-orange);
}

[data-is-series='TRUE'][data-is-interest='TRUE'] [data-control-type='ACTION']:hover
{
	border-right-color:  var(--color-blue);
	border-bottom-color: var(--color-blue);
}

[data-is-series='TRUE'][data-is-favorite='TRUE'] [data-control-type='ACTION']
{
	border-left-color: var(--color-orange);
	border-top-color:  var(--color-orange);
}

[data-is-series='TRUE'][data-is-favorite='TRUE'] [data-control-type='ACTION']:hover
{
	border-left-color: var(--color-blue);
	border-top-color:  var(--color-blue);
}
