@charset "utf-8";

header #login,
header section.navigation
{
	z-index:       1 !important;
	top:           35px !important;
	right:         0 !important;
	font-family:   'Open Sans', sans-serif !important;
	font-size:     8px !important;
	background:    #f0f0f0 none !important;
	border-radius: 0 0 0 3px !important;
	overflow:      hidden !important;
}

header #login *,
header section.navigation *
{
	font-family: inherit !important;
	font-size:   inherit !important;
}

header #login
{
	padding: 1px !important;
}

header #login input,
header section.navigation a
{
	display: inline-block !important;
	margin:  0 !important;
}

header #login input
{
	padding: 1px 3px !important;
}

header #login input[type='text'],
header #login input[type='password']
{
	min-width: 69px !important;
	width:     69px !important;
}

header #login input[type='submit']
{
	min-width: 35px !important;
	width:     35px !important;
}

header section.navigation
{
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) !important;
}

header section.navigation a
{
	padding:       2px 0 !important;
	width:         60px !important;
	text-align:    center !important;
	color:         #555555 !important;
	background:    none !important;
	border-style:  none !important;
	border-radius: 0 !important;
}
