@charset "utf-8";

:root
{
	--menu-count:      5;
	--menu-width:      900px;
	--menu-item-width: calc(var(--menu-width) / var(--menu-count));
}

#menu > li
{
	width: var(--menu-item-width);
}

#menu > li[data-menu-type='DROPDOWN']:hover ul
{
	display: none;
}

#menu > li[data-menu-type='DROPDOWN'] ul
{
	position:     absolute;
	width:        var(--menu-width);
	column-count: var(--menu-count);
	column-gap:   0;
}

#menu > li[data-menu-type='DROPDOWN'] ul li
{
	border-style: none;
}

#menu > li[data-menu-type='DROPDOWN'] ul li:last-child
{
	border-radius: 0;
}

#menu > li[data-menu-type='DROPDOWN'] ul li a
{
	padding:          0 7px;
	background-image: linear-gradient(0, #cccccc 1px, #cccccc 1px, transparent 1px), linear-gradient(90deg, #cccccc 1px, #cccccc 1px, transparent 1px);
}

#menu > li[data-menu-type='DROPDOWN'] .codekandis-button
{
	margin-left: -6px;
	margin-top:  11px;
}

#menu > li[data-menu-type='DROPDOWN'][data-menu-purpose='SERIES_FAVORITES'] ul
{
	left: calc(var(--menu-item-width) * -1);
}

#menu > li[data-menu-type='DROPDOWN'][data-menu-purpose='SERIES_INTERESTS'] ul
{
	left: calc(var(--menu-item-width) * -2);
}

#menu > li[data-menu-type='DROPDOWN'][data-menu-purpose='SERIES_DENIALS'] ul
{
	left: calc(var(--menu-item-width) * -3);
}
