@charset "utf-8";

[data-control-type='MOUSE_MARKER']
{
	position:         absolute;
	display:          block;
	width:            14px;
	height:           14px;
	left:             0;
	top:              0;
	background-color: #ff0000;
	border-style:     solid;
	border-width:     0;
	border-radius:    50%;
	z-index:          100000;
}
