<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>BurningSeries Usability Enhancer - Options</title>
	<link rel="stylesheet" type="text/css" href="../css/page.css"/>
	<script type="text/javascript" src="../scripts/scriptsLoader.js"></script>
</head>
<body>
<form>
	<fieldset>
		<label for="apiBaseUri">API Base URI</label>
		<input id="apiBaseUri" type="text" value="" readonly/>
	</fieldset>
	<fieldset>
		<label for="apiUserId">API User ID</label>
		<input id="apiUserId" type="text" value=""/>
	</fieldset>
	<fieldset>
		<label for="apiKey">API Key</label>
		<input id="apiKey" type="text" value=""/>
	</fieldset>
	<fieldset>
		<label for="defaultPlayer">Default Player</label>
		<input id="defaultPlayer" type="text" value=""/>
	</fieldset>
	<fieldset class="footer">
		<input type="submit" value="Save"/>
		<input type="reset" value="Reset"/>
	</fieldset>
</form>
</body>
</html>
