@charset "utf-8";

#other-series-nav ul {
	position: absolute;
	left: -136px;
	width: 900px;
	column-count: 4;
	column-gap: 0;
}

#other-series-nav ul li {
	border-style: none;
}

#other-series-nav ul li:last-child {
	border-radius: 0;
}

#other-series-nav ul li a {
	padding: 0 7px;
	background-image: linear-gradient(0deg, #cccccc 1px, #cccccc 1px, transparent 1px), linear-gradient(90deg, #cccccc 1px, #cccccc 1px, transparent 1px);
}
