@charset "utf-8";

#usrCnt [data-control-type='ACTION']
{
	margin-top:  4px !important;
	margin-left: -16px !important;
}

#usrCnt [data-control-type='ACTION_CONTEXT_MENU']
{
	margin-top:  8px !important;
	margin-left: 9px !important;
}
