@charset "utf-8";

.codekandis-seriesDenialButton {
	display: inline-block;
	position: absolute;
	margin-top: 6px;
	margin-left: -8px;
	padding: 2px 2px 3px 1px;
	width: 5px;
	line-height: 0.5em;
	font-size: 8pt;
	font-weight: bold;
	color: #ffffff;
	background-color: #0a7191;
	border-style: none;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.codekandis-seriesDenialButton:hover {
	background-color: #ffa000;
}
