@charset "utf-8";

.codekandis-seriesDenialButton {
	display: inline-block;
	position: absolute;
	margin-top: 1px;
	margin-left: -345px;
	padding: 1px 5px 2px 4px;
	line-height: 1em;
	font-size: 12pt;
	font-weight: bold;
	color: #ffffff;
	background-color: #0a7191;
	border-style: none;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

.codekandis-seriesDenialButton:hover {
	background-color: #1596bd;
}
