@charset "utf-8";

#news .lSPager a
{
	z-index: auto;
}

#newest_series a
{
	display: inline-block;
	width:   415px;
}

#newest_episodes .codekandis-button
{
	margin-left: -16px;
	margin-top:  3px;
}

#newest_series .codekandis-button
{
	margin-left: -15px;
	margin-top:  4px;
}
