@charset "utf-8";

#news .lSPager a
{
	z-index: auto !important;
}

#newest_series a
{
	display: inline-block !important;
	width:   415px !important;
}

#newest_episodes [data-control-type='ACTION']
{
	margin-left: -16px !important;
	margin-top:  3px !important;
}

#newest_episodes [data-control-type='ACTION_CONTEXT_MENU']
{
	margin-left: 8px !important;
	margin-top:  5px !important;
}

#newest_series [data-control-type='ACTION']
{
	margin-left: -15px !important;
	margin-top:  4px !important;
}

#newest_series [data-control-type='ACTION_CONTEXT_MENU']
{
	margin-left: 8px !important;
	margin-top:  6px !important;
}
