@charset "utf-8";

:root
{
	--menu-count:           6;
	--menu-width:           900px;
	--menu-item-width:      calc(var(--menu-width) / var(--menu-count));
	--submenu-column-count: 4;
}

#menu > li
{
	width: var(--menu-item-width) !important;
}

#menu li[data-menu-type='DROPDOWN'] > ul
{
	position:         absolute !important;
	display:          block;
	width:            var(--menu-width) !important;
	column-count:     var(--submenu-column-count) !important;
	column-gap:       0 !important;
	background-color: #dddddd !important;
	border-radius:    0 !important;
	box-shadow:       #5c5c5c 0 0 3px 0 !important;
}

#menu li[data-menu-type='DROPDOWN'][data-menu-purpose='SERIES_FAVORITES'] > ul
{
	left: calc(var(--menu-item-width) * -1) !important;
}

#menu li[data-menu-type='DROPDOWN'][data-menu-purpose='SERIES_INTERESTS'] > ul
{
	left: calc(var(--menu-item-width) * -2) !important;
}

#menu li[data-menu-type='DROPDOWN'][data-menu-purpose='SERIES_WATCHED'] > ul
{
	left: calc(var(--menu-item-width) * -3) !important;
}

#menu li[data-menu-type='DROPDOWN'][data-menu-purpose='SERIES_DENIALS'] > ul
{
	left: calc(var(--menu-item-width) * -4) !important;
}

#menu li[data-menu-type='DROPDOWN'] > ul > li
{
	text-align:   left !important;
	border-style: none !important;
}

#menu li[data-menu-type='DROPDOWN'] > ul > li:last-child
{
	border-radius: 0 !important;
}

#menu li[data-menu-type='DROPDOWN'] > ul > li > [data-control-type='MENU_FILTER']
{
	display:     inline-block !important;
	position:    relative !important;
	left:        4px !important;
	bottom:      1px !important;
	width:       calc(var(--menu-width) / var(--submenu-column-count) - 15px) !important;
	line-height: 1em !important;
}

#menu li[data-menu-type='DROPDOWN'] > ul > li > a
{
	padding:          0 7px !important;
	background-image: linear-gradient(0, #cccccc 1px, #cccccc 1px, transparent 1px), linear-gradient(90deg, #cccccc 1px, #cccccc 1px, transparent 1px) !important;
}

#menu li[data-menu-type='DROPDOWN'] [data-control-type='ACTION']
{
	margin-left: -8px !important;
	margin-top:  11px !important;
}

#menu > li[data-menu-type='DROPDOWN'] [data-control-type='ACTION_CONTEXT_MENU']
{
	margin-left: 7px !important;
	margin-top:  11px !important;
}
