@charset "utf-8";

[data-control-type='MOUSE_MARKER']
{
	position:         absolute !important;
	display:          block;
	width:            14px !important;
	height:           14px !important;
	left:             0;
	top:              0;
	background-color: #ff0000 !important;
	border-style:     solid !important;
	border-width:     0 !important;
	border-radius:    50% !important;
	z-index:          100000 !important;
}
